@tailwind base;
@tailwind components;
@tailwind utilities;

/* .my-btn {
   color: #ddb263;
   position: relative;
   background-color: white;
   padding: 8px 20px;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
}

.my-btn::after {
   position: absolute;
   content: "";
   background: #000;
   width: 100%;
   height: 0%;
   top: 0;
   left: 0;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
}

.my-btn:hover::after {
   height: 100%;
} */
